<div class="body">
    <div class="loginBlock">
        
        <div class="leftBlock">
                <img src="../../../assets/logo.png" class="logo">
                <fa-icon [icon]="utensilIcon" class="utensilIcon"></fa-icon>
            <!-- <div class="welcomeTextBlock">
                <h2>Argusoft Canteen</h2>
                <p>Health Sync is an online Fitness tracking app where you can add your exercises and diet and track your progress</p>
            </div> -->
        </div>

        <div class="rightBlock">
            <h2 class="loginHeading">Welcome! Please Log in...</h2>
            <asl-google-signin-button type='standard' theme="outline" data-text theme="filled_black" class="loginBtn"></asl-google-signin-button>
        </div>

            <!-- {{user}} -->
            
        <!-- <asl-google-signin-button> -->
            
        <!-- </asl-google-signin-button> -->
            
        
        
    </div>
</div>