<!-- main header  -->
<h1 class="heading text-center">Order history</h1>


<!-- date filter  -->
<div class="date-filter">
    <div class="dates">
        <label for="start-date">filter from Date</label>
        <input type="date" id="start-date" name="start-date">
    </div>

    <div class="dates">
        <label for="end-date">to Date</label>
        <input type="date" id="end-date" name="end-date">
    </div>
</div>


<!-- tab-list  -->
<div class="order-tab-list">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <button class="nav-link " (click)="showAllOrders()">All orders</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" (click)="showCompletedOrders()">Completed</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" (click)="showCancelledOrders()">Cancelled</button>
        </li>
    </ul>
</div>


<!-- search  -->
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
        aria-describedby="basic-addon2" #filter (click)="filterData(filter.value)">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>

<!-- page size option  -->

<div class="page-size-option">
    <p>page size</p>
    <div class="select-size">
        <select #pageSize (change)="changePageSize(pageSize.value)">
            <option *ngFor="let size of pageSizes" [value]="size" class="select-option">{{size}}</option>
        </select>
    </div>
</div>



<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order number</th>
                <th scope="col">Customer name</th>
                <th scope="col">Order date</th>
                <th scope="col">Food items</th>
                <th scope="col">Order status</th>
                <th scope="col">Payment status</th>
                <th scope="col">Total price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of visibledata(); let i = index">
                <td>{{supplier.orderNo}}</td>
                <td>{{supplier.customerName}}</td>
                <td>{{supplier.orderDate}}</td>
                <td>{{supplier.FoodItems}}</td>
                <td>{{supplier.orderStatus}}</td>
                <td>{{supplier.paymentStatus}}</td>
                <td>{{supplier.TotalPrice}}</td>

            </tr>

        </tbody>
    </table>
</div>

<div class="pagination">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled" (click)="previousPage()">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>
            <li class="page-item" *ngFor="let pageNumber of pageNumbers();let i = index"
                [class.bg-danger]="i+1 == currentPage" (click)="changePage(i+1)"><a class="page-link">{{i+ 1}}</a></li>
            <li class="page-item">
                <a class="page-link" (click)="nextPage()">Next</a>
            </li>
        </ul>
    </nav>
</div>