<!-- main header  -->
<h1 class="heading text-center">Order history</h1>


<!-- date filter  -->
<div class="date-filter">
    <div class="dates">
        <label for="start-date">filter from Date</label>
        <input type="date" id="start-date" name="start-date">
    </div>

    <div class="dates">
        <label for="end-date">to Date</label>
        <input type="date" id="end-date" name="end-date">
    </div>
</div>


<!-- tab-list  -->
<div class="order-tab-list">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <button class="nav-link " (click)="showAllOrders()">All orders</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" (click)="showCompletedOrders()">Completed</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" (click)="showCancelledOrders()">Cancelled</button>
        </li>
    </ul>
</div>


<!-- table  -->

<input type="text" placeholder="search">
<select>
    <option value="">Test</option>
</select>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>supplier</td>
            <td>address</td>
            <td>email</td>
            <td>phone</td>
            <td>action</td>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let supplier of suppliers; let i = index">
            <td>{{i}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.address}}</td>
            <td>{{supplier.phone}}</td>
            <td>{{supplier.email}}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="buttons">
    <button>previous</button>
    <button>1</button>
    <button>next</button>
</div>