<body>
    <!-- search bar -->
    <div class="search-bar-container">

        <input type="text" class="search" placeholder="Search food items ...">

        <div class="search-icon">🔍</div>

    </div>

    <!-- Categories -->
    <div class="options" >

        <a href="" class="option">All</a>
        
        <a href="" class="option">Your favourites</a>

        <a href="" class="option">Recommended</a>

        <a href="" class="option">Beverages</a>

        <a href="" class="option">Snacks</a>

        <a href="" class="option">Breakfast</a>

        <a href="" class="option">Lunch</a>

        <a href="" class="option">Dinner</a>

    </div>

    <!-- <div *ngFor="let item of items">

    </div> -->

</body>