<body>
<!-- cart items -->

<div class="explore">
  <h1> < Explore more....</h1>
</div>
<div class="your cart">
  <h1>🛒  YOUR CART </h1>
</div>

<div class="small-container cart-page">

  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr class="items">
      <td>
        <div class="cart-info">
          <img src="assets/sandwich.jpg">
          <div>
            <p>Sandwich: <span style="font-size: 15px;">Fresh vegetable, tasty sandwich</span> </p>
            <small>Price: Rs 50.00</small>
            <br>
            <a href="">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value = "1"></td>
      <td>Rs 50.00</td>
    </tr>
    <br>
    <tr class="items">
      <td>
        <div class="cart-info">
          <img src="assets/coffee.jpg">
          <div>
            <p>Coffee</p>
            <small>Price: Rs 20.00</small>
            <br>
            <a href="">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value = "1"></td>
      <td>Rs 20.00</td>
    </tr>

    <br>

    <tr class="items">
      <td>
        <div class="cart-info">
          <img src="assets/thali.jpg">
          <div>
            <p>Thali</p>
            <small>Price: Rs 80.00</small>
            <br>
            <a href="">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value = "1"></td>
      <td>Rs 80.00</td>
    </tr>

  </table>

  <div class="price">

  <div class="coupon">
    <div class="head">
      <p>Apply coupons</p>
    </div>
    <div class="apply">
      <input type="text" class="search" placeholder="Enter Code">
      <button style="font-size: 13px; background: transparent; border: none">APPLY</button>
    </div>
    <div class="applied">
      <p>Prome Code <span style="color: black; text-decoration: underline;">NEW10FL</span> Applied | <button style="color: rgb(98, 128, 0); font-size: 10px; border: none; background: transparent">Remove</button></p>
      <p>Promo Code <span style="color: black; text-decoration: underline;">FRES50Z</span> Applied | <button style="color: rgb(98, 128, 0); font-size: 10px; border: none; background: transparent">Remove</button></p>
      </div>

  </div>

  <div class="total-price">
    <p>Order Summary</p>

    <table>
      <tr>
        <td>Subtotal</td>
        <td>Rs 150.00</td>
      </tr>
      <tr>
        <td>Coupon discount</td>
        <td>Rs 15.00</td>
      </tr>
    </table>
  </div>
    <div class="final">
      <p style="color: #802f59; font-weight: bold;"> Total amount: <Span style="font-size: 20px; color: black"> 💰Rs135.00</Span></p>
    </div>

    <div class="checkout">
      <button>Checkout</button>
    </div>

  </div>
</div>

</body>
