<!-- <div class="container">
    <div *ngIf="isLoading; else elsePickUpEditBlock">
        <app-loader></app-loader>
    </div>

    <ng-template #elsePickUpEditBlock>
    <div>
      <div *ngIf="order && order.order_no">
        <div>{{order.order_no}}</div>
        <div>{{order.customer_name}}</div>
        <div>{{order.customer_mo_no}}</div>
      </div>
  
      <form #basicForm="ngForm" (ngSubmit)="updatePayment(basicForm.value)">
        <input type="radio" ngModel name="Payment_method" value="gpay"> gpay
        <input type="radio" ngModel name="Payment_method" value="gpay2"> gpay2
        <input type="radio" ngModel name="Payment_method" value="gpay3"> gpay3
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
  
      <div class="mb-3">
        <a routerLink="/admin/pickupmanagement" class="btn">Back</a>
      </div>
    </div>
    </ng-template>
  </div>
   -->




<div class="container">
  <div *ngIf="isLoading; else elsePickUpEditBlock">
    <app-loader></app-loader>
  </div>

  <ng-template #elsePickUpEditBlock>
    <div *ngIf="order && order.order_no">

      <div class="card" style="width: 18rem;">
        <img src="assets/user-sample.jpg" class="card-img-top center user-logo-img" alt="...">
        <div class="card-body">
          <h5 class="card-title bold">Order No:-{{order.order_no}}</h5>
          <div class="card-text">
            <div>{{order.customer_name}}</div>
            <div>{{order.customer_mo_no}}</div>
          </div>
        </div>
        <form #basicForm="ngForm" (ngSubmit)="updatePayment(basicForm.value)">
          <div><input type="radio" ngModel name="Payment_method" value="gpay"> gpay</div>
          <div><input type="radio" ngModel name="Payment_method" value="gpay2"> gpay2</div>
          <div><input type="radio" ngModel name="Payment_method" value="gpay3"> gpay3</div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>

            <a routerLink="/admin/pickupmanagement" class="btn">Back</a>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>