<div style="position: sticky; top: 0; z-index: 1000; background-color: #ffffff;color: #802f59; font-style: bold; margin: 30px;margin-top: 0; "class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h1 style="float: left;">Coupons</h1>
    <button type="button" class="btn btn-primary" style="background-color: #802f59; border: 0; float: right; color: white;margin: 3px;">Add Coupon</button>
    <div style="clear: both;"></div>
</div>
<div style="margin-left: 30px;">

</div>
<!-- //coupon icons -->
<div style="margin-left: 30px;margin-right: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <div class="col-lg-4">
                <div class="card card-margin" >
                    <div class="card-header no-border">
                        <h5 class="card-title">Percentage</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">25%</span>
                                    <span class="widget-49-date-month">OFF</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">ON MIN Rs.500 ORDER</span>
                                    <span class="widget-49-pro-title">ACTIVE TILL:25 MARCH,2024</span>
                                </div>
                            </div>
                           <div ><h4>Description of coupon in brief nknknol</h4></div>
                            <div style="text-align: center;">
                                <button  type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-right: 20px;">EDIT</button>
                                <button type="button" class="btn btn-primary" style="background-color: #802f59;border: 0;border-radius: 5px;width: 2.5cm;margin-left: 20px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


           
        </div>
        </div>
    
    
</div>