<div class="component">

    <h1 style="font-weight: bold;">Analytics</h1>
    <div class="cards">
        <div class="analytics">
            <div class="quad" id="quad1">
                <canvas class="chart" id="chart1"></canvas>
                <div>
                    <button class="button" (click)="monthOnMonth()">
                        Monthly revenue
                    </button>
                    <button class="button" (click)="dailyRevenue()">
                        Daily Revenue
                    </button>
                </div>
            </div>
    
            <!-- <div class="quad" id="quad2">
                <canvas id="chart2"></canvas>
            </div> -->

            <div class="quad" id="quad2">
                <canvas class="chart" id="chart2"></canvas>
                <span>
                    This Month's Category wise division
                </span>
            </div>
        </div>

        <div class="rightAnalytics">
            <p-table 
                #MostOrderedDataTable
                [value]="dishes" 
                [paginator]="true" 
                [rows]="10"
                [globalFilterFields]="['name','category','quantity']"
                paginatorPosition="bottom"
                >
                <ng-template pTemplate="caption" style="border-radius: 1em;">
                    
                        <span>Most Ordered Dishes</span>
                        <span class="searchBox">
                            <fa-icon [icon]="searchIcon"></fa-icon>
                            <input pInputText class="searchInput" type="text" (input)="MostOrderedDataTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                        </span>
                  
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name"><p-sortIcon field="name"></p-sortIcon>Dish Name</th>
                        <th pSortableColumn="category"><p-sortIcon field="name"></p-sortIcon>Category</th>
                        <th pSortableColumn="quantity"><p-sortIcon field="name"></p-sortIcon>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dish>
                    <tr>
                        <td>{{dish.name}}</td>
                        <td>{{dish.category}}</td>
                        <td>{{dish.quantity}}</td>
                    </tr>
                </ng-template>
                
            </p-table>
        </div>
        
    </div>
</div>

