.component{
    display: grid;
    margin: 3vh 1.5% 0vh 3%;
    /* background-color: aqua; */

    height:96%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.analytics{
    width: 39%;
    /* background-color: green; */
}

.rightAnalytics{
    margin: 0vw 0% 0% 2%;
    width: 59%;
    background-color: white;
    border-radius: 1em;
    height: 77.5vh;
}

#quad1{
    display: grid;
    grid-template-rows: 81% 19%;
}

/* #quad2{
    padding: 2%;
    display: flex;
    margin: auto !important;
    justify-content: center;

} */

#quad2{
    display: grid;
    grid-template-rows: 90% 10%;
    padding-top: 2%;
}

#chart2{
    width:19vw !important;
}

.chart{
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    width: 95% !important;
    height: 100% !important;
}

.chartLegend{
    position: relative;
    bottom: 0%;
}

.quad {
    text-align: center;
    height: 38vh;
    margin: 0.1vh 2% 1.5vh 0%;
    border-radius: 1em;
    background-color: white;
    width:100%;
}

.button{
    color: white;
    background-color: #802f59;
    /* background-color: rgba(83, 186, 93, 0.75); */
    border: 0;
    text-align: center;
    padding: 2% 2%;
    border-radius: 5px;
    margin: 2% 2%;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover{
    background-color: #b95084;
}

/* .rightCard{
    text-align: center;
    height: 75.5vh !important;
    margin: 1vh 2% 1.5vh 0%;
    border-radius: 1em;
    background-color: white;
    width:100%;
    height: 20vh !important;
} */

.p-element, .p-datatable, .p-datatable-header, .p-component {
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
}

.p-datatable-header{
    width: 100%;
    display: flex !important;
    /* grid-template-columns: 30% 80% !important; */
    align-items: center;
}

.searchBox{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 2%;
    width: 40%;
    background-color: white;
    border: 1px solid rgba(214, 214, 214, 0.686) !important;
    border-radius: 10px;
    padding: 0% 2%;
}

.searchInput{
    margin-left: 3%;
    border: 0;
    width: 100%;
    height: 6vh;
}

.searchInput:hover, .searchInput:focus {
    border: 0px solid white !important;
    outline: 0px;
}