<!-- <a routerLink="pick-up-management">Pick-up</a> -->






<div class="container">
    <div class="d-flex">
        <ul>
            <li *ngFor="let user of pickUpUsers" class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center user-logo-img">
                </div>
                <div class="order_no">order no. :-{{ user.order_no }}</div>
                <div>Customer name:-{{ user.customer_name }}</div>
                <div>Mo no:-{{ user.customer_mo_no }}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <img src="assets\pick_up_button_logo.webp" class="pick_up_button_logo" alt=""> Pick Up
                    </button>
                </div>
            </li>
        </ul>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Payment method</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div><input [(ngModel)]="data.payment_method" type="radio" name="payment_method"
                                value="Gpay">Gpay</div>
                        <div><input [(ngModel)]="data.payment_method" type="radio" name="payment_method"
                                value="Googlepay">Googlepay</div>
                        <div><input [(ngModel)]="data.payment_method" type="radio" name="payment_method"
                                value="udhari">udhari</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" (click)="getValue()" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>