*{
    margin: 0;
    padding: 0;
   
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 30px;
    
}
.container{
    max-width: 100%;
    margin: 0 auto;

}


li{
    margin: 20px;
    /* width: 30%; */
}

.d-flex{
    display: flex;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: left;
}
.order-item-box{
    margin: 20px;
    padding:10px;
    border: 2px solid black;
    border-radius: 15px;
}

.order_no{
    margin-bottom: 10px;
    font-weight: bold;
}

.user-logo-img{
    height: 150px;
    width: 150px;
    
}
.pick_up_button_logo{
    /* padding-right: 4px; */
    height: 16px;
    width: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}