<!-- <a routerLink="pick-up-management">Pick-up</a> -->
<div class="container">
    <div class="d-flex">
        <ul>
            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>
            </li>

            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>
            </li>
        
            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>
            </li>

            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>
            </li>

            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>
            </li>

            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>
            </li>
            <li class="order-item-box">
                <div>
                    <img src="assets/user-sample.jpg" class="center">
                </div>
                <div class="text-left">Customer name</div>
                <div class="text-left">Customer contact
                        <button class="text-left">pick Up</button>
                    
                </div>

            </li>
        </ul>
    </div>
</div>