<div class="wallet-container">
    <h2>Admin Wallet</h2>
    <div class="items">
        <div class="row">
            <button class="add-balance-button" (click)="toggleAddAllBalanceForm()">Add Same Amount to All</button>
            <form class="add-all-form" *ngIf="showAddAllBalanceForm" (submit)="addAllBalance()">
                <input type="number" [(ngModel)]="amountToAddToAll" placeholder="Enter amount to add"
                    name="amountToAdd">
                <div class="add-all-buttons">
                    <button type="submit">Add</button>
                    <button type="button" (click)="cancelAddAllBalance()">Cancel</button>
                </div>
            </form>
        </div>
        <input class="searchbox" type="text" placeholder="Search by ID or Name" [(ngModel)]="searchQuery"
            (ngModelChange)="search()" name="searchbox">

        <input class="pageSize" type="number" id="pageSize" [(ngModel)]="pageSize"
            (change)="updateDisplayedUsers()">
        <label for="pageSize">Page Size:</label>
    </div>
    <table>
        <!-- Table header -->
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- Table body -->
        <tbody>
            <tr *ngFor="let user of allUsers">
                <td>{{ user.employeeId }}</td>
                <td>{{ user.uname }}</td>
                <td>{{ user.wallet_amount}}</td>
                <td>
                    <button class="addBalance" (click)="toggleAddBalance(user)">Add Balance</button>
                    <form class="form" *ngIf="showAddToUserBalanceForm" (submit)="saveAddedBalance()">
                        <input type="number" [(ngModel)]="amountToAddToUser" placeholder="Enter amount to add" name="amountToAddToUser">
                        <div class="buttons">
                            <button type="submit">Save</button>
                            <button type="button" (click)="cancelAddBalance(user)">Cancel</button>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Pagination  -->
    <div class="pagination-container">
        <div class="pagination" [ngStyle]="{ 'height': totalPages > 5 ? '200px' : 'auto' }">
            <button (click)="prevPage()" [disabled]="currentPage === 1"
                [class.disabled]="currentPage === 1">Previous</button>
            <div class="page-numbers">
                <button *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="currentPage === page">{{
                    page }}</button>
            </div>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                [class.disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
</div>